
{{!-- Create a table --}}
<table id="customers-table">
<h2>Current Customers</h2>
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Customer ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>


        {{#each customers}}
        <tr>
            <td>{{this.customer_id}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.email}}</td>
            <td><button onclick="deleteCustomer({{this.customer_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>