
{{!-- Create a table --}}
<table id="departments-table">
<h2>Departments</h2>
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each departments.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>


        {{#each departments}}
        <tr>
            <td>{{this.department_id}}</td>
            <td>{{this.department_name}}</td>
            <td>{{this.department_quantity}}</td>
            <td><button onclick="deleteDepartment({{this.department_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>