
{{!-- Create a table --}}
<table id="items-table">
<h2>Available Items</h2>
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each items.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>


        {{#each items}}
        <tr>
            <td>{{this.item_id}}</td>
            <td>{{this.item_name}}</td>
            <td>{{this.item_price}}</td>
            <td>{{this.item_quantity}}</td>
            <td>{{this.department_id}}</td>
            <td><button onclick="deleteItem({{this.item_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>