

{{!-- Create a table --}}
<table id="shipments-table">
<h2>Current Shipments</h2>
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Shipment ID</th>
            <th>Order ID</th>
            <th>Shipment Date</th>
            <th>Shipment Status</th>
            <th>Actions</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>


        {{#each shipments}}
        <tr>
            <td>{{this.shipment_id}}</td>
            <td>{{this.order_id}}</td>
            <td>{{this.shipment_date}}</td>
            <td>{{this.shipment_status}}</td>
            <td><button onclick="deleteShipment({{this.shipment_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>